<div class="container">
    <div class="card" style="margin-top:80px">
        <h4 class="card-header"><strong>Formulario</strong></h4>
        <div class="card-body">
            <form method="post" action="/usuarios/registro">
            <div class="row">
                <div class="cold-md-4">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba su nombre">
                    </div>
                </div>
                <div class="cold-md-4">
                    <div class="form-group">
                        <label for="email">Correo Electronico</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Escriba su correo electronico">
                    </div>
                </div>
                <div class="cold-md-4">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Escriba su username">
                    </div>
                </div>
                <div class="cold-md-4">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Escriba su contraseña">
                    </div>
                </div>
                <div class="cold-md-4">
                    <div class="form-group">
                        <label for="password">Confirmar Password</label>
                        <input type="password" class="form-control" id="confirmar" name="confirmar" placeholder="Escriba de nuevo su contraseña">
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" title="Registrarme" class="btn btn-primary">Registrarme</button>
            </form>
        </div>
    </div>
</div>