<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game-star</title>
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="/boobstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/estilos_index.css">

</head>
<body>
    {{>navegador}}

    {{{ body }}}
    <script src="/boobstrap/js/bootstrap.js"></script>
</body>
</html>